<header>
  <%= link_to logo, root_path %>    
</header>
<nav id="main-nav">
  <ul>
    <li class="round"><%= link_to "Start", root_path %></li>
    <li class="round"><%= link_to "Om oss", om_oss_path %></li>
    <li class="round"><%= link_to "Kontakt", kontakt_path %></li>
  </ul>
</nav>
      